env
venv
.env
e_commerce_bot.egg-info
archive
data_archive
chroma_db
.venv
custmor_support_system_main.egg-info
__pycache__
data/landing/*
!data/landing/.gitkeep
!data/landing/README.md
*.pyc
.python-version
.terraform
.terraform.lock.hcl
.terraform.*
.DS_Store
