<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flipkart Product Assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://static.vecteezy.com/system/resources/previews/016/017/018/non_2x/ecommerce-icon-free-png.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Flipkart Product Assistant</span>
                                <p>Ask me anything about products!</p>
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body"></div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required>
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        function escapeHtml(value) {
            return $("<div>").text(value).html();
        }

        function getApiKey() {
            var apiKey = window.localStorage.getItem("APP_API_KEY");
            if (!apiKey) {
                apiKey = window.prompt("Enter application API key");
                if (apiKey) {
                    window.localStorage.setItem("APP_API_KEY", apiKey);
                }
            }
            return apiKey;
        }

        $("#messageArea").on("submit", function(event) {
            const date = new Date();
            const hour = date.getHours();
            const minute = date.getMinutes();
            const str_time = `${hour}:${minute}`;
            var rawText = $("#text").val();
            var safeText = escapeHtml(rawText);
            var apiKey = getApiKey();

            if (!apiKey) {
                event.preventDefault();
                return;
            }

            var userHtml = `
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">${safeText}
                        <span class="msg_time_send">${str_time}</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg">
                    </div>
                </div>`;
            
            $("#text").val("");
            $("#messageFormeight").append(userHtml);

            var botHtml = `
                <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                        <img src="https://static.vecteezy.com/system/resources/previews/016/017/018/non_2x/ecommerce-icon-free-png.png" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer"><span class="streaming_response"></span>
                        <span class="msg_time">${str_time}</span>
                    </div>
                </div>`;
            var botNode = $($.parseHTML(botHtml));
            var responseNode = botNode.find(".streaming_response");
            $("#messageFormeight").append(botNode);

            fetch("/get/stream", {
                method: "POST",
                headers: {
                    "X-API-Key": apiKey,
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: new URLSearchParams({ msg: rawText })
            }).then(async function(response) {
                if (!response.ok || !response.body) {
                    throw new Error("stream failed");
                }

                var reader = response.body.getReader();
                var decoder = new TextDecoder();
                var buffer = "";
                while (true) {
                    var result = await reader.read();
                    if (result.done) {
                        break;
                    }
                    buffer += decoder.decode(result.value, { stream: true });
                    var events = buffer.split("\n\n");
                    buffer = events.pop();

                    events.forEach(function(eventText) {
                        var eventName = "";
                        var eventData = "";
                        eventText.split("\n").forEach(function(line) {
                            if (line.startsWith("event: ")) {
                                eventName = line.slice(7);
                            }
                            if (line.startsWith("data: ")) {
                                eventData += line.slice(6);
                            }
                        });
                        if (eventName === "token") {
                            responseNode.text(responseNode.text() + eventData);
                            $("#messageFormeight").scrollTop($("#messageFormeight")[0].scrollHeight);
                        }
                    });
                }
            }).catch(function() {
                responseNode.text("The assistant is unavailable right now. Please try again later.");
                $("#messageFormeight").scrollTop($("#messageFormeight")[0].scrollHeight);
            });

            event.preventDefault();
        });
    });
    </script>

</body>
</html>
